body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-color: white;
}

html {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 114px;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0;
}

.mainSection {
    float: left;
    width: 100%;
    display: block;
    height: fit-content;
    position: relative;
    padding: 45px;
    padding-top: 125px;
    background-color: white;
}

ul {
    margin-top: 15px;
    margin-bottom: 30px;
    list-style-type: circle;
}

li {
    color: var(--black);
    font-size: 22px;
    line-height: 1.75em;
    
}