html, body {
    background-color: var(--white);
    color: var(--black);
}

.svImg {
    width: 100%;
    max-width: 500px;
}

ul {
    list-style-type: none;
}

li {
    font-size: 18px;
    padding-bottom: 10px;
}

a {
    color: var(--darkblue);
}

a:hover {
    color: var(--blue);
}

.clearFormatting {
    all: revert;
}

h1 {
    margin: 25px 25px;
    font-size: 40px;
    text-align: center;
}

h2 {
    margin: 15px 15px;
    font-size: 25px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--black)
}

p {
    color: var(--black)
}

.subText {
    font-style: italic;
    margin: 15px;
    text-align: center;
}

.innerHeader
{
    width: 100%;
    display: block;
    float: left;
    text-align: center;
}

.iconInHeader {
    padding-right: 20px;
}

.mainSection {
    float: left;
    width: 100%;
    display: block;
    height: fit-content;
    position: relative;
    padding: 25px;
    padding-top: 90px;
    background-color: var(--white);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 15px;
}

.topLeftLogo {
    height: 55px;
    top: 10px;
    left: 10px;
    position: fixed;
    z-index: 10;
}

.header {
    top: 0;
    display: block;
    z-index: 20;
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: var(--white);
}

.headerLogoContainer {
    float: left;
    height: 100%;
}

.headerLogoImage {
    height: 90%;
}

@media only screen and (max-width: 300px) {
    .headerLogoImage {
        padding-top: 5px;
        height: 45px;
    }  
}

.everyOtherSection {
    background-color: var(--lightbluegrey);
    height: fit-content;
    width: 100%;
    display: block;
    float: left;
    padding: 15px;
    margin-bottom: 15px;
}

:host {
    display: inline-block;
}

.navigationSection {
    padding: 20px;
    position: fixed;
    background-color: var(--lightbluegrey);
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .navigationSection {
       display: none;
    }
}


.navigationSection div h4 {
    font-weight: bold;
    text-transform: none;
    font-size: 22px;
    padding: 0;
    padding-bottom: 5px;
}

.navigationSection div {
    padding-bottom: 7px;

}

.navigationSection div div {
    padding-left: 10px;
    font-size: 17px;
}

.navigationSection div div p {
    padding: 0;
    margin: 0;
    display: block;
}

.navigationSection div div p,  .navigationSection div h4{
    color: var(--black);
    cursor: pointer;

}

.navigationSection div div p:hover,  .navigationSection div h4:hover{
    color: var(--darkblue);
}

span {
    height: fit-content;
    display: block;
}

.docsSection {
    padding: 20px;
    background-color: white;
}