html, body {
    background-color: white;
    color: var(--black);
}

html { 
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
 }

ul {
    list-style-type: none;
}

li {
    font-size: 18px;
    padding-bottom: 10px;
}

a {
    color: var(--darkblue);
}

a:hover {
    color: var(--blue);
}

.clearFormatting {
    all: revert;
}

h1 {
    margin: 25px 25px;
    font-size: 40px;
    text-align: center;
    word-wrap: break-word;
}

h2 {
    margin: 15px 15px;
    font-size: 30px;
}

h3 {
    margin: 15px 15px;
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--black)
}

p {
    color: var(--black)
}

.subText {
    font-style: italic;
    margin: 15px;
    text-align: center;
}

.innerHeader
{
    width: 100%;
    display: block;
    float: left;
    text-align: center;
}

.iconInHeader {
    padding-right: 20px;
}

.mainSection {
    float: left;
    width: 100%;
    display: block;
    height: fit-content;
    position: relative;
    /* padding: 25px; */
    padding-top: 75px;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.topLeftLogo {
    height: 55px;
    top: 10px;
    left: 10px;
    position: fixed;
    z-index: 20;
}

.header {
    top: 0;
    display: block;
    position: fixed;
    height: 75px;
    width: 100%;
    z-index: 19;
    background-color: var(--black);
}

.headerLogoContainer {
    float: left;
    height: 100%;
}

.headerLogoImage {
    height: 90%;
}

@media only screen and (max-width: 300px) {
    .headerLogoImage {
        padding-top: 5px;
        height: 45px;
    }  
}

.everyOtherSection {
    background-color: var(--lightbluegrey);
    height: fit-content;
    width: 100%;
    display: block;
    float: left;
    padding: 15px;
    margin-bottom: 15px;
}

:host {
    display: inline-block;
}

.navigationSection {
    padding-top: 35px;
    padding-right: 10px;
    padding-left: 40px;
    padding-bottom: 5px;
    position: fixed;
    overflow: auto;
    height: calc(100% - 78px);
    background-color: var(--white);
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .navigationSection {
       display: none;
    }
}

.navigationSection div {
    padding-bottom: 15px;
}

.navigationSection div h4 {
    font-weight: bold;
    text-transform: none;
    font-size: 20px;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 5px;
}

.navigationSection div div {
    padding-left: 10px;
}

.navigationSection div div p {
    padding: 0;
    margin: 0;
    display: block;
    font-size: 17px;
}

.navigationSection div div p,  .navigationSection div h4{
    color: var(--black);
    cursor: pointer;
}
/* 
.navigationSection div div p:hover,  .navigationSection div h4:hover{
    color: var(--verydarkblue);
} */

span {
    height: fit-content;
    display: block;
}

.docsSection {
    padding: 35px;
    background-color: white;
    width: 100%;
}

zero-md {
    width: 100%;
    overflow: auto;
}

.skipTo, #skipToTop {
    padding: 5px;
}

.skipTo:hover{
    background-color: var(--lightbluegrey);
}

h4.skipTo:hover, h4#skipTo:hover {
    font-size: 22px;
    padding: 8px;
}

p.skipTo:hover {
    font-size: 18px;
    padding: 6px;
}

.skipToTopSection {
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 68px;
    width: 68px;
    background-color: var(--verydarkblue);
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
}

.skipToTopSection:hover {
    opacity: 1;
}

#skipToTop {
    margin: auto;
    font-size: 38px;
    color: white;
}

.skipTo {
    cursor: pointer;
}

#logo {
    cursor: pointer;
}

#iconForSkip {
    padding-top: 0;
    margin-top: 15px;
    margin-right: 15px;
 
    font-size: 50px;
    color: var(--blue);
    float: right;
    cursor: pointer;
}

#iconForSkip:hover {
    color: var(--white);
}

.headerNavBar {
    top: 0px;
    right: 0px;
    position: fixed;
    z-index: 10;
}

.navBarSection {
    top: 75px;
    right: 0;
    display: block;
    width: 275px;
    position: fixed;
    overflow: auto;
    height: calc(100% - 78px);

}

.navBarSection details {
    height: fit-content;
    font-size: 18px;
    background-color: var(--black);
    cursor: pointer;
}

.navTitle, .navSubLink {
    padding: 15px;
    color: var(--white);
}

.navTitle {
    font-weight: bold;
}

.navSubLink {
    padding-left: 30px;
}
/* 
.navSubLink p {
    padding: 0;
    margin: 0;
    color: var(--white)
} */

.navTitle:hover, .navSubLink:hover {
    background-color: var(--white);
    color: var(--black);
}

.navSubLink a {
    color: var(--white);
}

.navSubLink a:hover, .navSubLink:hover a{
    color: var(--black);
}