.twitter-timeline {
    width: 100%;
}

.twitterContainer {
    height: 400px;
    overflow: auto;
    float: left;
}
.introDescription {
    height: 500px;
    float: right;
}

.creditImage {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

@media only screen and (max-width: 767px) {
    .navigationSection {
        width: 100%;
        height: 100%;
    }
    nav {
        width: 100%;
        height: 100%;
        padding-top: 75px;
        background-color: black;
    }
    table {
        width: 100%;
    }
    th {
        margin: auto;
        float: left;
    }
    .skipItem {
        font-size: 22px;
        float: left;
        color: #0d75ac;
    }
  }

.navigationSection {
    top: 0px;
    right: 0px;
    position: fixed;
    z-index: 10;
    overflow-y: auto;
}

#iconForSkip {
    padding-right: 50px;
    padding-top: 50px;

    font-size: 50px;
    color: #0d75ac;
    float: right;
}
#iconForSkip:hover {
    color: #4fb4e4;
}
#contentOfSkip {
    display: none;
}
#contentOfSkip.visible {
    display: block;
}

.skipItem {
    font-size: 22px;
    float: right;
    color: #0d75ac;
}

.skipItem:hover {
    color: #0d75ac;
}

th {
    padding: 15px;
    background-color: black;
}

th:hover {
    background-color: #bac8de;
}

table {
    padding-right: 50px;
}


.topLeftLogo {
    height: 55px;
    top: 10px;
    left: 10px;
    position: fixed;
    z-index: 10;
}

/* .headerBar {
    height: 55px;
    width: 100%;
    top: 0px;
    border: 3px solid black;
    background-color: white;
} */

.skippyskip {
    float: right;
}

.headerLogoContainer {
    float: left;
    height: 100%;
}

.headerLogoImage {
    height: 100%;
}

.notHeader {
    padding-top: 55px;
}

/* @media only screen and (min-width: 960px) {
    .creditContainer {
        padding: 0px;
    }
  } */

.creditContainer {
    margin: auto;
    height: 90px;
    width: 90px;
}

.creditsRow {
    width: 90%;
    margin: auto;
}

.homeLogoContainingDiv {
    width: 75%;
    margin: auto;
    padding-top: 12%;
    padding-bottom: 15%;
}

.homeLogo {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

a {
    color: #4fb4e4;
}

a:hover {
    color: #0d75ac;
}

.navy {
    padding: 10px;
    color: grey;
    text-decoration: none;
}

.navy:hover {
    color: lightgrey;
}

.columnForGuides {
    column-count: 3;
    padding: 15px;
}

.columnImg {
    float: left;
    width: 20%;
}

.columnDesc {
    float: right;
    width: 80%;
}

.imgVMR {
    height: 150px;
    padding-right: 10%;
}

.column {
    float: left;
    width: 50%;
}
  
.left {
    width: 65%;
}
  
.right {
    width: 35%;
}

.twitterBox {
    border: 15px solid lightblue;
    padding: 50px;
    margin: 20px;
    height: 150px;
}

.boxybox {
    border: 15px solid lightgrey;
    padding: 50px;
    margin: 20px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}