/* line 4,  */
body {
  position: relative; }

/* line 8,  */
.thumbnail img {
  width: 100%; }

/* line 12,  */
.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581; }

/* line 18,  */
.thumbnail {
  padding: 0; }

/* line 22,  */
.thumbnail .caption-full {
  padding: 9px;
  color: #333; }

/* line 27,  */
footer {
  margin: 50px 0; }

/* line 31,  */
.test {
  height: 100px; }

/* line 36,  */
.group {
  padding-top: 50px;
  padding-bottom: 0px; }

/* line 40,  */
.subgroup {
  padding-top: 50px;
  padding-bottom: 0px; }

/* line 45,  */
.bottom-buffer {
  padding-bottom: 50px; }

/* line 49,  */
#sidebar {
  padding-top: 70px;
  padding-bottom: 70px; }

/* line 55,  */
.fixed {
  position: fixed; }

/* sidebar */
/* line 60,  */
.bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px; }

/* all links */
/* line 67,  */
.bs-docs-sidebar .nav > li > a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400; }

/* nested links */
/* line 76,  */
.bs-docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px; }

/* active & hover links */
/* line 86,  */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
  color: #563d7c;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #563d7c; }

/* all active links */
/* line 95,  */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
  font-weight: 700; }

/* nested active links */
/* line 101,  */
.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active:focus > a {
  font-weight: 500; }

/* hide inactive nested list */
/* line 106,  */
.bs-docs-sidebar .nav ul.nav {
  display: none; }

/* show active nested list */
/* line 110,  */
.bs-docs-sidebar .nav > .active > ul.nav {
  display: block; }

/* line 114,  */
#solverTable td {
  text-align: center; }

/* line 118,  */
#solverTable th {
  text-align: center; }

/* line 122,  */
#barIcon {
  color: white; }

/* IMAGE STYLE - SVGUIDE */
/* line 127,  */
img.svImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 20px; */
  padding-bottom: 15px; 
}

/* CAPTION STYLE - SVGUIDE */
/* line 136,  */
figcaption.svCaption {
  text-align: center;
  /* font-family: times; */
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin-bottom: 20px; }

/* IMAGE SIZE */
/* line 146,  */
img.svImgXs {
  max-height: 300px;
  width: 100%;
  object-fit: contain; 
}

/* line 149,  */
img.svImgSm {
  max-height: 400px;
  width: 100%;
  object-fit: contain; 
}

/* line 152,  */
img.svImgMd {
  max-height: 600px;
  width: 100%;
  object-fit: contain; 
}

/* line 155,  */
img.svImgLg {
  max-height: 800px;
  width: 100%;
  object-fit: contain; 
}

/* line 158,  */
img.svImgXl {
  width: 100%; 
}

/* SCROLL PROPERTY FOR DOCS AND CLINICAL CASES*/
/* line 163,  */
.bs-docs-sidebar > ul {
  overflow-y: auto;
  height: 100%; 
}
