:root {
    --black: #16161D;
    --otherBackground: #022639;
    --verydarkblue: #033651;
    --lighterverydarkblue: #1c4a62;
    --darkblue: #0d75ac;
    --blue: #4fb4e4;
    --lightbluegrey: #bac8de;
    --darkred: #792622;
    --brightred: #d42d34;
    --red: #a62224;
    --peachy: #f37977;
    --lightpink: #ec939c;
    --white: #e6ebee;
    --grey: grey;
    --lightgrey: lightgrey;
    --lightblue: lightblue;

}